:root {



}


@media (min-width: 1280px) {
    
    
    body {
        
    

    
    }

    
    /* HEADER */
    
    header {
        position: fixed;
        background: var(--mainBG);

        padding: 20px;
        right: auto;
        left: auto;
        top: 10px;
        width: 80%;
        border-radius: 15px;


        
    }
    
    header .logo {
        width: 15em;
 /* versión grande del logo*/
    }


    
    
    .skip-nav-link {
        display: block;
        position: absolute;
        top: -10px;
        transform: translateY(-120%);
        padding: 30px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 2px 1px 0px 0px rgb(0 0 0 / 20%);
        transition: transform 0.1s ease-in-out;
    }

    .skip-nav-link:focus {
            transform: translateY(0%);
    }

    
    .toggle
    {
        display: none;
    }
    
    
    .menu {
        position: relative;
        right: 0;
        width: auto;
        height: auto;

    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .menu ul li {
       border-right: 1px solid #0000002b;

    }
    
        
    .menu ul li:last-child,
    .menu ul li.lastMenuOption {
       border-right: 0px;
    }
    
    
    .menu ul li a{
        padding: 28px 20px;
        min-width: 130px;
        justify-content: center;

    }
    
    .menu ul li.search {
        display: none;

    }
    
    

    .contentWrapper {

    width: 80%;
    border-radius: 15px;
    
    }
    
    
    .navScrolled {
        border-bottom: 1px solid var(--contrast);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    
}


