:root {



}


@media (min-width: 1200px) {
    
    
    html {
        

    scroll-padding-top: 120px; /* height of sticky header */


    
    }
    
    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    

    main {
        padding-top: 15px;
    }
    

    .showcase {
        margin-bottom: -119px;

    }
    
    .showcase.navfloat {
        margin-bottom: -15px;
    }
    
    .showcase.navFloat .twinkling {
    display: none;
    
    }
    
    /* HEADER */
    
    header {
        position: relative;
        background: var(--mainBG);
        padding: 20px;
        right: auto;
        left: auto;
        top: auto;
        width: 80%;
        border-radius: var(--bradius);


        
    }
    
    header.navScrolled {
        position: fixed;
        top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
    }
    
    header .logo {
      stroke: var(--contrast);
      fill: var(--contrast);
    }


    
    
    .skip-nav-link {
        display: block;
        left: 10%;
        position: absolute;
        top: -10px;
        transform: translateY(-120%);
        padding: 30px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 2px 1px 0px 0px rgb(0 0 0 / 20%);
        transition: transform 0.1s ease-in-out;
        z-index: 999;
    }

    .skip-nav-link:focus {
            transform: translateY(10%);
    }

    
    .toggle
    {
        display: none;
    }
    
    
    .menu {
        position: relative;
        right: 0;
        width: auto;
        height: auto;
        transition: 0s;

    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .menu ul li {
       border-right: 1px solid #0000002b;

    }
    
        
    .menu ul li:last-child,
    .menu ul li.lastMenuOption {
       border-right: 0px;
    }
    
    
    .menu ul li a{

        min-width: 130px;
        justify-content: center;
        border-top: 0px;
        margin-bottom: 0px;
        padding: 1em;
        font-weight: 300;
    }
    
    
    
    .contentWrapper {

        background: transparent;

    }


    #products .slick-prev,
    #products .slick-next {
        color: var(--dark);
        background-color: var(--mainBG);
    }

    
    #products .slick-autoplay-toggle-button {

        top: 10px;
        right: 11%;

    }
    
    #products li {
        padding: 10px 1.5em;
    }
    
    #about,
    #socialMedia,
    #progress {

        width: 80%; 
        border-radius:  var(--bradius);

    }

    #about .who {
 
        border-top-right-radius:  var(--bradius);
        border-top-left-radius:  var(--bradius);
    }
    
    
    #contact {
    width: 80%;
    padding: 0em;

    }

    
    footer,
    footer div {
            height: 450px;
    }
    
    
    .contactContainer {
            padding: 1.5em;
            max-width: 175ch;
    }
    
    
    footer,
    footer div {
            height: 450px;
    }
    

    #navTheme,
    .navTheme {
    display: flex;
    transition: transform 1s ease-in-out;
    }
    
    .navTheme{ padding-left: 1em;}
    
    .menu ul li.navTheme:hover,
    .menu ul li.navTheme:focus {
        border-color: transparent;

    }
    
    .menu ul li #navTheme:hover,
    .menu ul li #navTheme:focus {
        background-color: var(--dark);
            transform: rotate(360deg);

    }
    
    
    #navTheme {
        background-image: url(/img/buttons/moon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        padding: 1.5em;
        border-radius: 50%;
        min-width: auto;
    }
    

    #navMobileTheme,
    .navMobileTheme {
        display: none;
    }
