:root {



}


@media (min-width: 1200px) {
    
    
    html {
        

    scroll-padding-top: 120px; /* height of sticky header */


    
    }
    
    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    
    
    

    main {
            margin-top:12px;
    }
    

    .showcase {
        margin-bottom: -119px;
    }
    
    .showcase.navfloat {
        margin-bottom: -15px;
    }
    
    
    /* HEADER */
    
    header {
        position: relative;
        background: var(--mainBG);
        padding: 20px;
        right: auto;
        left: auto;
        top: auto;
        width: 80%;
        border-radius: var(--bradius);


        
    }
    
    header.navScrolled {
        position: fixed;
        top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
    }
    
    header .logo {
        height: 4em;
        stroke: var(--contrast);
    }


    
    
    .skip-nav-link {
        display: block;
        left: 10%;
        position: absolute;
        top: -10px;
        transform: translateY(-120%);
        padding: 30px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 2px 1px 0px 0px rgb(0 0 0 / 20%);
        transition: transform 0.1s ease-in-out;
        z-index: 999;
    }

    .skip-nav-link:focus {
            transform: translateY(10%);
    }

    
    .toggle
    {
        display: none;
    }
    
    
    .menu {
        position: relative;
        right: 0;
        width: auto;
        height: auto;

    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .menu ul li {
       border-right: 1px solid #0000002b;

    }
    
        
    .menu ul li:last-child,
    .menu ul li.lastMenuOption {
       border-right: 0px;
    }
    
    
    .menu ul li a{

        min-width: 130px;
        justify-content: center;

    }
    
    
    
    .contentWrapper {

        background: transparent;

    }


    #products .slick-prev,
    #products .slick-next {
        color: var(--dark);
        background-color: var(--mainBG);
    }


    #about {

    display: flex;
    width: 80%;

}


