:root {
    --bradius: 3px;
    
    
    
    
}



html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 70px;
}


body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    overflow: hidden;
}


header
{
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0px 5px 4vw;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header.navScrolled {
        background: var(--mainBG);
}  

header .logo
{  display: flex;
    align-content: center;
    fill:none;
    stroke:var(--mainBG);
    stroke-miterlimit:10;
    stroke-width:6px;
    height: 2.5em;


}

header.navScrolled .logo
{  
    stroke:var(--contrast);



}

header .logo:hover,
header .logo:focus
{

    stroke: var(--accent);
}



body.active header .logo {
    display: none;
}

.skip-nav-link {
    display: none;
}


.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(/img/buttons/menu.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.navScrolled .toggle {
     background-image: url(/img/buttons/menu-dark.svg); 
}

.toggle.active
{
  background: url(/img/buttons/close.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
    right:1.4em;
    transition: right 0.5s;
}

.navScrolled .toggle.active {
    background-image: url(/img/buttons/close-dark.svg);
}


.menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    z-index: 99999;

    transition: 0.25s;

}

body.active .menu {
      right: 0;

}

.menu ul
{
  position: relative;
    text-align: right;


}

.menu ul li
{
    list-style: none;
    padding-bottom: 5px;
}


.menu ul li:hover,
.menu ul li:focus-within{
    border-bottom: 5px solid  ;
    padding-bottom: 0px;

}


.menu ul li a
{
    display: flex;
    justify-content: flex-end;
    font-family: 'MuseoModerno', cursive;
    text-transform: lowercase;
    font-size: 1.3em;
        padding: 1em;
    font-weight: 300;
    width: 100%;

}


.menu ul li a img {
    margin-top:5px;
    height: 20px;
    width: 20px;
}


.menu ul li a img {
    margin-top:5px;
    height: 20px;
    width: 20px;
}




.lightsOff {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

body.active .lightsOff {

    display: flex;
    
}



.showcase {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;



}


main {
    width: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section + section {
    margin-top: 15px;
}

.contentWrapper {

    width: 100%;



    
}


#products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}




    .sliderButtons {
position: absolute;
    z-index: 100000;



    }

.sliderButtons{
        top: 194px;
    right: 15px;
}

.sliderButtons:first-child{
        top: 194px;
    left: 15px;
}


    #products .slick-prev,
    #products .slick-next {
        color: var(--dark);
        background-color: var(--primary);
        background-size: 30px 30px;
        border-radius: 50%;
        height:45px;
        width: 45px;
        border: 0px;
        
    }

    #products .slick-next  {

    }

    #mobileDots {
        width: 100%;
    }

    #mobileDots .slick-dots {
        margin-block: 0.5em;
        display: flex;
        justify-content: space-around;
        align-items: center;


    }


    #mobileDots .slick-dots li button {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: 0px;
        background: var(--mainBG);
        transform: scale(50%);
    }
    #mobileDots .slick-dots li.slick-active button {
        background: var(--accent);
        transform: scale(150%);

    }



































.item {    
    margin-bottom: 13px;
    padding: 0.5em 1em;
    border-radius: var(--bradius);

}

.holder {
    display: flex;
    flex-direction: column-reverse;
}

.item h2 {
    display: none;
}

.item .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.item * {
    margin-bottom: 2px;
}

.item .left blockquote {


    padding: 10px;
    border-radius: var(--bradius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.item .left blockquote span {

    margin-top:5px;


    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.item .left blockquote span span {
    opacity: 0.7;
        font-style: italic;
    margin-right: 5px;
}


.item .left p + p {
    padding-top: 0.8em;
}

.item .holder .holderButtons { 
    display: flex;
    justify-content: space-between;


}

.right {
    justify-content: center;
    align-items: center;


}
    
.button {
  position: relative;
  display: inline-flex;
  width: 147.5px;
  height: 56px;
  margin: 5px 5px 0px 5px;
  perspective: 1000px;
}
.button a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .2s;

  
}
.button a:before,
.button a:after{
  position: absolute;
  content: attr(data-content);
  height: 56px;
  width: 147.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: var(--bradius);
}
.button a:before{

  transform: rotateY(0deg) translateZ(25px);
}
.button a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.button a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
    


.item .holder img {
    
}

.item .holder .right {
    display: flex;
    flex-direction: column;
}


.item img {
    border-radius: var(--bradius);
}


#about {
    
        background: var(--mainBG);
    
    border-radius: var(--bradius);
    display: flex;
    width: 100%;

    height: 1000px;
}

.ribbon {display: none;}


    