:root {
    --bradius: 3px;
    
    
    
    
}



html {
    scroll-behavior: smooth;
        overflow-x: hidden;
}



body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
}


header
{
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8vw;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


header .logo
{  display: flex;
    align-content: center;
    fill:none;
    stroke:var(--dark);
    stroke-miterlimit:10;
    stroke-width:6px;
    width: 4em;


}

header .logo:hover,
header .logo:focus
{

    stroke: var(--accent);
}



body.active header .logo {
    display: none;
}

.skip-nav-link {
    display: none;
}


.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(/img/buttons/menu-dark.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.navScrolled .toggle {
     background-image: url(/img/buttons/menu-dark.svg); 
}
.toggle.active
{
  background: url(/img/buttons/close.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
    right:1.4em;
    transition: right 0.5s;
}

.nav-scrolled .toggle.active {
    background-image: url(/img/buttons/close-dark.svg);
}


.menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    z-index: 99999;

    transition: 0.25s;

}

body.active .menu {
      right: 0;

}

.menu ul
{
  position: relative;
    text-align: right;


}

.menu ul li
{
    list-style: none;
    padding-bottom: 5px;
}


.menu ul li:hover,
.menu ul li:focus-within{
    border-bottom: 5px solid  ;
    padding-bottom: 0px;

}


.menu ul li a
{
    display: flex;
    justify-content: flex-end;
    font-family: 'MuseoModerno', cursive;
    text-transform: lowercase;
    font-size: 1.3em;
        padding: 1em;
    font-weight: 300;
    width: 100%;

}


.menu ul li a img {
    margin-top:5px;
    height: 20px;
    width: 20px;
}


.menu ul li a img {
    margin-top:5px;
    height: 20px;
    width: 20px;
}




.lightsOff {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

body.active .lightsOff {

    display: flex;
    
}



.showcase {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;



}

main {
    width: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;

    
}

.contentWrapper {

    width: 100%;
    height: 3000px;

    
}


#products {

    width: 100%;
    padding: 1.5em 1em;
}


.holder {
    display: flex;
    flex-direction: column-reverse;
}

.item h2 {
    font-weight: 500;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.item .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.item .left blockquote {


    padding: 10px;
    border-radius: var(--bradius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.item .left blockquote span {

    margin-top:5px;


    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.item .left blockquote span span {
    opacity: 0.7;
        font-style: italic;
    margin-right: 5px;
}


.item .left p + p {
    padding-top: 0.8em;
}

.item .holder .holderButtons { 
    display: flex;
    justify-content: space-between;


}

.right {
    justify-content: center;
    align-items: center;


}
    
.button {
  position: relative;
  display: inline-flex;
  width: 147.5px;
  height: 56px;
  margin: 5px 5px 0px 5px;
  perspective: 1000px;
}
.button a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .2s;

  
}
.button a:before,
.button a:after{
  position: absolute;
  content: attr(data-content);
  height: 56px;
  width: 147.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: var(--bradius);
}
.button a:before{

  transform: rotateY(0deg) translateZ(25px);
}
.button a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.button a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
    




.item .holder img {
    
}

.item .holder .right {
    display: flex;
    flex-direction: column;
}


.item img {
    border-radius: var(--bradius);
}


.parallaxLayer {
height: 100vh;
background-position: bottom center;
background-size: auto 100%;
background-repeat: repeat-x;
width: 100%;
/* position: absolute;  */
position: fixed;

}

    #layer0 {
        background-image: url(/img/art/parallax/parallax0.png);
    }

    #layer1 {
        background-image: url(/img/art/parallax/parallax1.png)
    }


    #layer2 {
        background-image: url(/img/art/parallax/parallax2.png)
    }
    
    #layer3 {
        background-image: url(/img/art/parallax/parallax3.png)
    }


    #layer4 {
        background-image: url(/img/art/parallax/parallax4.png)
    }
    
    #layer5 {
        background-image: url(/img/art/parallax/parallax5.png)
    }


    #layer6 {
        background-image: url(/img/art/parallax/parallax6.png)
    }
    
    #layer7 {
        background-image: url(/img/art/parallax/parallax7.png)
    }


    #layer8 {
        background-image: url(/img/art/parallax/parallax8.png)
    }


    #layer9 {
        background-image: url(/img/art/parallax/parallax9.png)
    }


    #layer10 {
        background-image: url(/img/art/parallax/parallax10.png)
    }


    #layer11 {
        background-image: url(/img/art/parallax/parallax11.png)
    }


    