:root {
    --accent: #FF5959;
    --primary: #CDDEFF;
    --contrast: #676FA3;
    --mainBG: #EEF2FF;
    --imgBG: url('/img/bg.png');


}

*
{

 font-family: 'Poppins', sans-serif;
}


::selection {
    background: #00000096;
    color: var(--mainBG);

}

body {

    background-color: var(--contrast);



}

a {
    text-decoration: none;
}

.highlight {
    color: var(--accent);
}


header .logo {
    border-color: var(--accent);
}


.skip-nav-link {
    background: var(--mainBG);
    color: var(--accent);
    
    
}

.menu {
    background: var(--mainBG);
}


.menu ul li a
{

    color: var(--contrast);
    
    
}




.menu ul li:hover,
.menu ul li:focus-within,
.menu ul li a:hover,
.menu ul li a:focus
{

color: var(--accent);

}


.lightsOff {
    background-color: #000000a8;
    backdrop-filter: blur(1rem);
}


.contentWrapper {
  background: var(--mainBG);

    
}


