@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent: #FF5959;
    --primary: #CDDEFF;
    --contrast: #676FA3;
    --mainBG: #EEF2FF;
    --dark: #333333;


}




*
{

    font-family: 'MuseoModerno', cursive;
}


::selection {
    background: #00000096;
    color: var(--mainBG);

}

body, main {

    background-color:var(--contrast);
    color: var(--dark);



}

a {
    text-decoration: none;
}

.highlight {
    color: var(--accent);
}


.skip-nav-link {
    background: var(--mainBG);
    color: var(--accent);
    
    
}

.menu {
    background: var(--mainBG);
}


.menu ul li a
{

    color: var(--contrast);
    
    
}




.menu ul li:hover,
.menu ul li:focus-within,
.menu ul li:hover a,
.menu ul li a:focus
{

color: var(--accent);

}


.lightsOff {
    background-color: #000000a8;
    backdrop-filter: blur(1rem);
}


.showcase {
    background-color: #2A3370;
}


.contentWrapper {


    
}

#products {
    background: var(--mainBG);
}

#products p {

}

    .item .left blockquote {

    background: var(--primary);
    
    }

    .item .left blockquote span {

        color: var(--accent);
}

    
    .item .left blockquote span.author {
            color: var(--dark);
}

    
}


.button a:before,
.button a:after{

}

.button a:before {
  color: var(--contrast);
  background: var(--mainBG);
 border-color:var(--primary);
}

.button a:after {
  color: var(--accent);
  background: var(--mainBG);
  border-color:var(--primary);
    
}


.button:nth-child(2) a:after {
  color: var(--mainBG);
  background: var(--accent);
  border-color:var(--accent);
    
}


